.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.headers-container {
  width: 50.7%;
  display: flex;
}

.tabs-container {
  padding-top: 4rem;
  padding-top: 3.2rem;
}