.paragraph {
  text-align: center;
  margin-top: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  font-size: 0.9rem;
  line-height: 1rem;
}


.mobile {
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}