.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hr {
  width: 42px;
  position: relative;
  left: -0.4rem;
}

.mobile {
  position: static;
  left: 0;
}