.content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* flex-basis: 33.33%; */
  flex-basis: 32.43%;
}

.content-container-mobile {
  flex-basis: 33.33%;
}

.material-percent {
  font-size: 3.1rem;
}

.material-name {
  font-size: 1.3rem;
  padding-top: 0.3rem;
}

.percentage-mobile {
  font-size: 2.2rem;
}

.material-mobile {
  font-size: 0.9rem;
}