.tab {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.list-item {
  box-sizing: border-box;
  padding: 0.6rem;
  flex-basis: 33.33%;
  transition: all 0.5s ease;
  color: black;
  background: white;
  border: 1px solid black;
  border-right: none;
  cursor: pointer;
}

.border-right {
  border-right: 1px solid black;
}

.active-tab {
  color: white;
  background: black;
}